* {
    margin: 0;
    padding: 0;
  }

  *,*::before, *::after {
    box-sizing: border-box;
  }

  .background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .bigtitle{
    top: 0;
    margin-top: 40px;
    font-size: 60px;
    width: 700px;
    height: 120px;
    padding-top: 30px;
    font-family: serif;
    background-color: rgb(223, 235, 245);
    box-shadow: inset 0 0 15px 15px #222;
  }

  .first {
    z-index: 100;
    font-size: 80px;
    font-family: serif;
    color: rgb(200, 229, 255);
    top: 0;
    text-align: center;
}


  .slider {
   
    width: 700px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50px;
  }
  
  .slider-inner {
    width: 300%;
    height: 100%;
    animation: slider 30s infinite alternate;
    display: flex;
    flex-flow: row;
   
  }

  .swiper-slide{
    width: 100%;
    background-size: cover;
    background-image: cover;
    float: left;
    text-align: center;
    line-height: 500px;
  }

  .hako{
    position: relative;
  }



  @keyframes slider {
    
      0% {
      transform: translateX(0);
      }
      33% {
      transform: translateX(-700px);
      }
      66% {
      transform: translateX(-1400px);
      }
      100% {
      transform: translateX(0);
      }
  }